* {
	padding:0;
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: oswald, helvetica, arial, sans-serif;
	background:url(bg.jpg), #000;
	background-size: cover;  /*la imagen al mayor tamaño posible sin estirarla*/
	background-attachment:fixed; /*Para determinar si la imagen es fija o se mueve*/

}


h1 { /*Titulo*/
	color:#fff;
	position:relative; ‎/*Posicion de elementos*/
	padding:100px 0px; /* Establece la anchura de algunas o todas las zonas de relleno de los elementos*/
	text-align: center; /* alinicion del texto*/
	font-weight: 600; /* el grosor del text*/
	font-size: 70px; /*el tamaño de letra del texto*/
	height: 40px; /*Establece la altura*/
}
.tx {
	font-family: oswald, helvetica, arial, sans-serif;
	text-align: center; /* alinicion del texto*/
	color: white;
	font-size: 30px;
	height: 30px;

}

table{
	color: #fff;
	 font-size: 20px;    
	 margin: 45px;     
	 width: 480px; 
	 text-align: center;    /* alinicion del texto*/
	 border-collapse: collapse  /*fusionar los bordes*/
}
th {     
	font-size: 13px;     
	font-weight: normal;     
	padding: 8px;     
    border-top: 4px solid #aabcfe;    
    border-bottom: 1px solid #fff; 
    color: #039; 
}

td {    
	padding: 8px;         
	border-bottom: 1px solid #fff;
    color: #fff;    
    border-top: 1px solid transparent; 
}

td:hover  { 

	background: #d0dafd; 
	color: #339; 

}
.botones, .imput {

   background: black;
   border: 1px solid #393939;
   border-radius: 5px 5px 5px 5px;
   color: #393939;
   font-size: 12px;
   padding: 10px;


}

input.boton {
	background: silver;
	border-radius: 15px; 
	height: 40px;
	width: 150px;
	background-color: #C0C0C0;
	color: white;
	font-family: oswald, helvetica, arial, sans-serif;
	font-size: 20px;

}

.boton:hover{
	background: #00FFFF; 
	color: #339; 

}
input{
	border-radius: 3px;
	font-family: oswald, helvetica, arial, sans-serif;
	text-align: center; /* alinicion del texto*/
	font-size: 15px;
	text-decoration:none
}